*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
img{
    justify-content: center;
    align-items: center ;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/static/mattel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

    

    z-index: -1;
}

.contenedor{
    width:100%;
    display:flex;
    justify-content:center;
}

.panel{
    width:400px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#2563eb;
}

.subtitulo{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input[type="text"], input[type="email"], input[type="password"]{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.extras{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition: .3s;
}

button:hover{
    background:#1d4ed8;
}

.registro{
    margin-top:20px;
    text-align:center;
}